<h2><%= user.username %>'s Profile</h2>

<h4>Future Playdates (next four)</h4>
<div class="future-rsvps">
  <% user.future_playdates.each do |playdate| %>
    <p><a href="/playdates/<%= playdate.id %>" class="playdate-title"><%= playdate.title %></a> | <%= playdate.date %> |  <%= playdate.location %></p>
  <% end %>
</div>

<h4>Past Playdates (most recent four)</h4>
<div class="past-rsvps">
  <% user.past_playdates.each do |playdate| %>
    <p><a href="/playdates/<%= playdate.id %>"><%= playdate.title %></a> | <%= playdate.date %> |  <%= playdate.location %></p>
  <% end %>
</div>
